@keyframes appear{
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appear-up{
    0%{
        transform: translateY(51px);
    }
    100%{
        transform: translateY(0px);
    }
}

.anim-appear{
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.anim-appear-up{
    animation-name: appear-up;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}