.selector-container{
    width: calc(100vw - 8px);
    z-index: 50;

    &__top{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-surface;
    }

    &__choose{
        color: rgba($c-on-primary-container,0.6);

        &--photo{
            color: $c-black-main
        }
    }

    &__bottom{
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 10;

        &::before{
            content: '';
            height: 35px;
            z-index: 5;
            width: 100%;
            z-index: 5;
            background-color: $c-surface;
            position: absolute;
            top: 0;
            left: 0;
        }

    }

    &__divider{
        height: 35px;

        background-color: $c-surface;
        flex-grow: 1;
        border-bottom: 3px solid $c-surface-lv1;
    }

    @media screen and (max-width: 970px){
        width: 100vw;
        position: sticky;
        top: 0;
    }

    &--photo{
        .selector-container{
            &__top{
                background: none;
            }

            &__bottom::before{
                opacity: 0;
                    border: none;
            }

            &__bottom{
                    border: none;
            }

            &__divider{
                opacity: 0;
                border-bottom: none;
            }
        }
    }
}