.project {
    width: 100%;
    list-style-position: inside;
    counter-increment: project-counter; /* Incrémente seulement pour les projets */

    &__title {
        color: $c-on-primary-container;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        -webkit-transform: translate(70px, -57.5px);
        transform: translate(70px, -57.5px);
        width: calc(100% - 70px);

        @media screen and (max-width: 970px) {
            font-size: 2rem;
            -webkit-transform: translate(42px, -38.5px);
            transform: translate(42px, -38.5px);

        }
    }

    &__title-click {
        -webkit-transform: translate(70px, -57.5px);
        transform: translate(70px, -57.5px);
    }

    &__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        position: relative;
    }

    &__overview {
        width: 100%;
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        border-radius: 25px;
        background: #F5E3D8;
        object-fit: cover;
        aspect-ratio: 16 / 9;

        @media screen and (max-width: 970px) {
            padding: 10px;
        }
    }

    &::marker {
        content: counter(project-counter) " › "; /* Affiche seulement les numéros des projets */
        color: $c-primary-container;
        font-family: Figtree;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;

        @media screen and (max-width: 970px) {
            font-size: 2rem;
        }
    }
}