.header{
    height: 90px;
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 500;

    &__title{
        width: 160px;
        line-height: 24px;

        @media screen and (max-width: 970px) {
            font-size: 1.25rem;
            width: 141px;
        }
    }

    &__right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;

        @media screen and (max-width: 970px) {
            gap: 24px;
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 970px) {
        padding: 0 25px;
        height: 70px;
    }

    &--photo{
        background: none;
    }
}