@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FBEDE3;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Figtree", sans-serif;
  color: #1F120A;
}

p {
  font-size: 1rem;
}

.psmall {
  font-size: 1rem;
}

h1 {
  font-size: 5.6rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1900px) {
  h1 {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 970px) {
  h1 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 2.1rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #8C5C3C;
}
a:hover {
  color: #74492C;
}

ol,
li {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(31, 18, 10, 0.2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 18, 10, 0.5);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  max-width: calc(100vw - 8px);
  padding: 0 calc((100vw - 1200px) / 2);
  padding-bottom: 50px;
}
.content-wrapper--article {
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 1900px) {
  .content-wrapper {
    padding: 0 calc((100vw - 900px) / 2);
  }
}
@media screen and (max-width: 970px) {
  .content-wrapper {
    padding: 0 25px;
    width: 100vw;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 35px;
  border-radius: 15px;
  gap: 10px;
  position: relative;
}
.button__text {
  margin: 0;
}
.button:hover .button__icon--arrow-down {
  transform: translateY(5px);
}
.button:hover .button__icon--double-arrow {
  transform: translateX(5px);
}
.button--c-1 {
  background-color: #EFA472;
  color: #1F120A;
}
.button--c-1:hover {
  background-color: #DF905C;
}
.button--c-1 p {
  color: #1F120A;
}
.button--c-1 .button__icon--double-arrow {
  background-image: url(/public/ui/double-arrow-dark.svg);
}
.button--c-1 .button__icon--home {
  background-image: url(/public/ui/home-dark.svg);
}
.button--c-1 .button__icon--internet-search {
  background-image: url(/public/ui/internet-search-dark.svg);
}
.button--c-1 .button__icon--arrow-next {
  background-image: url(/public/ui/arrow-next.svg);
}
.button--c-1 .button__icon--download {
  background-image: url(/public/ui/download.svg);
}
.button--c-2 {
  background-color: #8C5C3C;
}
.button--c-2:hover {
  background-color: #74492C;
}
.button--c-2 p {
  color: #FEFAF7;
}
.button--c-2 .button__icon--double-arrow {
  background-image: url(/public/ui/double-arrow-light.svg);
}
.button--c-2 .button__icon--home {
  background-image: url(/public/ui/home-light.svg);
}
.button--c-2 .button__icon--internet-search {
  background-image: url(/public/ui/internet-search-light.svg);
}
.button--c-2 .button__icon--arrow-next {
  background-image: url(/public/ui/arrow-next.svg);
}
.button__icon {
  height: 16px;
  width: 16px;
  background-size: cover;
  transition: all 0.2s;
}
.button__icon--arrow-down {
  background-image: url(/public/ui/arrow-down.svg);
}
.button--blocked {
  cursor: default;
}
.button--blocked:hover::after {
  content: "Button unavailable yet";
  position: absolute;
  bottom: -25px;
  font-family: "Figtree", sans-serif;
  opacity: 50%;
}
.button--precision:hover::after {
  content: "Only available on mobile";
  position: absolute;
  bottom: -25px;
  font-family: "Figtree", sans-serif;
  opacity: 50%;
}
.button--photo {
  background: rgba(242, 220, 195, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.button--photo:hover {
  background-color: rgba(242, 220, 195, 0.45);
}
.button--photo p {
  color: #191717;
}

.header {
  height: 90px;
  width: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 500;
}
.header__title {
  width: 160px;
  line-height: 24px;
}
@media screen and (max-width: 970px) {
  .header__title {
    font-size: 1.25rem;
    width: 141px;
  }
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
@media screen and (max-width: 970px) {
  .header__right {
    gap: 24px;
  }
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .header {
    padding: 0 25px;
    height: 70px;
  }
}
.header--photo {
  background: none;
}

.landing {
  height: calc(100vh - 90px);
  width: 905px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1900px) and (min-width: 969px) {
  .landing {
    width: 765px;
  }
}
.landing--photo {
  width: 962px;
  padding: 0 30px;
}
@media screen and (max-width: 1900px) {
  .landing--photo {
    width: 802px;
  }
}
.landing__top {
  display: flex;
  flex-direction: column;
}
.landing__top--photo {
  padding: 20px 35px;
  box-sizing: content-box;
  background: rgba(242, 220, 195, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (max-width: 1900px) {
  .landing__top--photo {
    padding: 13px 23px;
  }
}
@media screen and (max-width: 970px) {
  .landing__top--photo {
    padding: 0px 10px 10px 10px;
  }
}
.landing__bottom {
  display: flex;
  flex-direction: column;
}
.landing__bottom--photo {
  padding: 20px;
  box-sizing: content-box;
  background: rgba(238, 229, 220, 0.25);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (max-width: 1900px) {
  .landing__bottom--photo {
    padding: 0px 23px;
  }
}
@media screen and (max-width: 970px) {
  .landing__bottom--photo {
    padding: 0 10px;
  }
}
.landing__text {
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 970px) {
  .landing {
    height: calc(100vh - 70px);
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .landing {
    gap: 25px;
  }
}
@media screen and (max-height: 680px) {
  .landing {
    gap: unset;
    justify-content: space-between;
  }
}

.main-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 970px) {
  .main-title {
    gap: 0px;
  }
}
.main-title__bar {
  height: 10px;
  flex-grow: 1;
  background-color: #1F120A;
}
@media screen and (max-width: 970px) {
  .main-title__bar {
    display: none !important;
  }
}
.main-title__top {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-title__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 970px) {
  .main-title__bottom {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.portrait {
  height: 200px;
  width: 170px;
  position: relative;
}
@media screen and (max-width: 1900px) {
  .portrait {
    height: 150px;
    width: 127.5px;
  }
}
.portrait__mask {
  height: 125%;
  width: 100%;
  border-bottom-left-radius: 93.5px;
  border-bottom-right-radius: 93.5px;
  position: absolute;
  bottom: 0;
  -webkit-mask-image: linear-gradient(black, black);
  mask-image: linear-gradient(black, black);
}
.portrait__img {
  width: 115%;
  position: absolute;
  bottom: 0;
  left: -7.5%;
}
.portrait::before {
  content: "";
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: #EFA472;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1900px) {
  .portrait::before {
    height: 127.5px;
    width: 127.5px;
  }
}
@media screen and (max-width: 970px) {
  .portrait {
    display: none;
  }
}

#background {
  background-position: center;
  background-size: cover;
  background-position: center;
  background-image: url(/client-data/images/backgrounds/DSC03570.webp);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -200;
  display: none;
}

#background-loading {
  z-index: -201;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-image: url(/client-data/images/backgrounds/DSC03570-compressed.webp);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  filter: blur(5px);
  display: none;
}

.transition-to-design {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  animation-name: transition-to-design;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes transition-to-design {
  0% {
    left: 0;
    width: 0;
    background-color: #191717;
  }
  40% {
    left: 0;
    width: 100vw;
    background-color: #FBEDE3;
  }
  60% {
    right: 0;
    width: 100vw;
  }
  100% {
    right: 0;
    width: 0;
    background-color: #FBEDE3;
  }
}
.transition-to-photo {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  animation-name: transition-to-photo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes transition-to-photo {
  0% {
    right: 0;
    width: 0;
    background-color: #FBEDE3;
    opacity: 100%;
  }
  40% {
    right: 0;
    width: 100vw;
  }
  60% {
    right: 100vw;
    width: 100vw;
    opacity: 100%;
  }
  100% {
    opacity: 0;
    right: 100vw;
    width: 0;
    background-color: #191717;
  }
}
.selector-container {
  width: calc(100vw - 8px);
  z-index: 50;
}
.selector-container__top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBEDE3;
}
.selector-container__choose {
  color: rgba(31, 18, 10, 0.6);
}
.selector-container__choose--photo {
  color: #191717;
}
.selector-container__bottom {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}
.selector-container__bottom::before {
  content: "";
  height: 35px;
  z-index: 5;
  width: 100%;
  z-index: 5;
  background-color: #FBEDE3;
  position: absolute;
  top: 0;
  left: 0;
}
.selector-container__divider {
  height: 35px;
  background-color: #FBEDE3;
  flex-grow: 1;
  border-bottom: 3px solid #F5E3D8;
}
@media screen and (max-width: 970px) {
  .selector-container {
    width: 100vw;
    position: sticky;
    top: 0;
  }
}
.selector-container--photo .selector-container__top {
  background: none;
}
.selector-container--photo .selector-container__bottom::before {
  opacity: 0;
  border: none;
}
.selector-container--photo .selector-container__bottom {
  border: none;
}
.selector-container--photo .selector-container__divider {
  opacity: 0;
  border-bottom: none;
}

.selector {
  display: flex;
  width: 677px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #F5E3D8;
  position: relative;
  z-index: 20;
}
.selector__item {
  cursor: pointer;
  display: flex;
  width: 50%;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.selector__item--on {
  background-color: #EFA472;
}
.selector__item--off {
  background-color: rgba(239, 164, 114, 0);
}
.selector__item--off p {
  color: rgba(31, 18, 10, 0.5);
}
.selector__item--off:hover {
  background-color: rgba(239, 164, 114, 0.25);
}
.selector__item--off:hover p {
  color: #1f120a;
}
.selector__item p {
  margin: 0;
}
@media screen and (max-width: 970px) {
  .selector {
    width: calc(100vw - 50px);
  }
}
.selector--photo {
  background: rgba(242, 220, 195, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.selector--photo .selector__item--on {
  background: rgba(242, 220, 195, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.selector--photo .selector__item--off {
  background-color: rgba(241, 225, 225, 0);
}
.selector--photo .selector__item--off p {
  color: #191717;
}
.selector--photo .selector__item--off:hover {
  background: rgba(238, 229, 220, 0.05);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 15px;
}
.selector--photo .selector__item--off:hover p {
  color: #191717;
}

.language-selector {
  display: flex;
  gap: 5px;
}
.language-selector__item {
  cursor: pointer;
}
.language-selector__item--on {
  text-decoration: underline;
}
.language-selector__item--off {
  text-decoration: none;
}

.project-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-top: 64px;
  width: 100%;
}

.project {
  width: 100%;
  list-style-position: inside;
}
.project__title {
  color: #1F120A;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  transform: translate(70px, -57.5px);
  width: calc(100% - 70px);
}
@media screen and (max-width: 970px) {
  .project__title {
    font-size: 2rem;
    transform: translate(42px, -38.5px);
  }
}
.project__title-click {
  transform: translate(70px, -57.5px);
}
.project__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}
.project__overview {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  background: #F5E3D8;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
@media screen and (max-width: 970px) {
  .project__overview {
    padding: 10px;
  }
}
.project::marker {
  content: counter(list-item) "› ";
  color: #EFA472;
  font-family: Figtree;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 970px) {
  .project::marker {
    font-size: 2rem;
  }
}
.project--photo {
  display: none;
  background: rgba(242, 220, 195, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  box-sizing: border-box;
}
.project--photo::marker {
  color: #191717;
  mix-blend-mode: plus-lighter;
  filter: blur(1px);
}
.project--photo .project__overview {
  padding: 0;
  background: none;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
}

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.tags__item {
  padding: 5px 10px;
  background-color: #F5E3D8;
  border-radius: 6px;
}
.tags__item p {
  margin: 0;
}
@media screen and (max-width: 970px) {
  .tags {
    display: none;
  }
}

.article-title {
  width: 100%;
}
.article-title__main {
  color: #1F120A;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
}
@media screen and (max-width: 970px) {
  .article-title__main {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 970px) {
  .article-title__second {
    width: 65%;
  }
}

.article-sections-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.article-section {
  list-style-position: inside;
  width: 100%;
}
.article-section__title {
  color: #1F120A;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(45px, -33px);
  max-width: calc(100% - 45px);
}
.article-section__para {
  transform: translateY(-33px);
  margin-bottom: -33px;
}
@media screen and (min-width: 970px) {
  .article-section__para {
    width: 65%;
  }
}
.article-section::marker {
  content: counter(list-item) "›› ";
  color: #EFA472;
  font-family: Figtree;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
}

.article-media {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 970px) {
  .article-media {
    margin-bottom: 50px;
  }
}
.article-media__image, .article-media__video {
  padding: 10px;
  box-sizing: border-box;
  background-color: #F5E3D8;
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
.article-media__image--vertical, .article-media__video--vertical {
  aspect-ratio: unset;
}
.article-media__image--no-ratio, .article-media__video--no-ratio {
  aspect-ratio: unset;
}
.article-media__alt-container {
  background-color: #F5E3D8;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 19px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
@media screen and (max-width: 970px) {
  .article-media__alt-container {
    top: unset;
    transform: translate(0, 100%);
    bottom: -10px;
    border-radius: 19px;
  }
}
.article-media__alt-container p {
  margin: 0;
  opacity: 0.65;
}
.article-media__double {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
@media screen and (max-width: 970px) {
  .article-media__double {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.article-media__double .article-media {
  width: calc(100% - 16.5px);
}
@media screen and (max-width: 970px) {
  .article-media__double .article-media {
    width: 100%;
  }
}
.article-media__triple {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
@media screen and (max-width: 970px) {
  .article-media__triple {
    flex-direction: column;
  }
}
.article-media__triple .article-media {
  width: calc(100% - 11px);
}
@media screen and (max-width: 970px) {
  .article-media__triple .article-media {
    width: 100%;
  }
}

.bottom-buttons {
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.avatars-animation {
  display: flex;
  aspect-ratio: 16/9;
  justify-content: space-around;
  overflow: hidden;
  z-index: 10;
}
.avatars-animation__row {
  width: 7.874015748%;
  display: flex;
  flex-direction: column;
}
.avatars-animation__row--up {
  animation: 10s linear infinite avatar-slide-up;
}
.avatars-animation__row--down {
  animation: 10s linear infinite avatar-slide-down;
}
@keyframes avatar-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes avatar-slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  padding: 0;
  height: 70px;
  gap: 30px;
}
.footer-list__item {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.footer-list__icon {
  opacity: 35%;
  height: 15px;
  width: 15px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}
.footer-list__icon--linkedin {
  background-image: url(/public/logo/linkedin.svg);
}
.footer-list__icon--dribbble {
  background-image: url(/public/logo/dribbble.svg);
}
.footer-list__icon--instagram {
  background-image: url(/public/logo/instagram.svg);
}
.footer-list__icon--behance {
  background-image: url(/public/logo/behance.svg);
}
.footer-list__icon--x {
  background-image: url(/public/logo/x.svg);
}
.footer-list__icon:hover {
  opacity: 100%;
}
@media screen and (max-width: 790px) {
  .footer-list {
    margin-top: 50px;
  }
}
.footer-list--photo .footer-list__icon--linkedin {
  background-image: url(/public/logo/linkedin-photo.svg);
}
.footer-list--photo .footer-list__icon--dribbble {
  background-image: url(/public/logo/dribbble-photo.svg);
}
.footer-list--photo .footer-list__icon--instagram {
  background-image: url(/public/logo/instagram-photo.svg);
}
.footer-list--photo .footer-list__icon--behance {
  background-image: url(/public/logo/behance-photo.svg);
}
.footer-list--photo .footer-list__icon--x {
  background-image: url(/public/logo/x-photo.svg);
}

.photo-style-button {
  background-color: rgba(241, 225, 225, 0.5);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.photo-style-button p {
  color: #191717;
}

.warning {
  display: none;
  background: rgba(242, 220, 195, 0.3);
  padding: 15px;
  box-shadow: 0 8px 32px 0 rgba(15, 15, 18, 0.2);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.warning--photo {
  display: unset;
}/*# sourceMappingURL=style.css.map */